@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    background-color: #222222;
}

.header{
    font-family: 'Roboto';
    font-size: 22px;
    color: white;
    height : 100px;
 line-height: 100px;

 text-align: center;
 margin-top: 50%;
}

span {
    display : inline-block;
    vertical-align : middle;
    line-height : 20px;
   }


.container{
    /*border: 3px solid black;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10%;
}



#txt{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto';
    padding-top: auto;
    color: white;
    text-align: center;
}

/* Styling Button */

#stdbtn {
    width: 125px;
    height: 125px;
    text-align: center;
    background-color: #222222;
    border: none;
    border-radius: 41px;
background: linear-gradient(315deg, #1f1f1f, #242424);
box-shadow:  -5px -5px 10px #1f1f1f,
             5px 5px 10px #252525;
}

p{
    text-decoration: none;
    font-size: large;
    font-family: 'Roboto';
    color: white;
}




@media only screen and (min-width:375px) and (orientation: landscape) {
    .container{
        padding-left: 166px;
        width: 50%;
    }
    .header{
        margin-top: 10%;
    }
  }